@import 'normalize.css';
@import 'styles/reset.css';

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/inter-variableFont_slnt-wght.ttf');
}

.page {
  padding: 2rem;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.form {
  width: 500px;
  font-size: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
  row-gap: 1rem;
}

.form__info {
  grid-column: span 2;
}

.form__title {
  font-weight: 600;
  font-size: 2.8rem;
  margin-bottom: 2rem;
}

.form__description {
  color: #536387;
  font-size: 1.5rem;
}

.form__field {
  display: flex;
  flex-direction: column;
  color: #536387;
  position: relative;
}

.form__field:nth-of-type(2) {
  grid-column: span 2;
  width: calc(50% - 2rem);
}

.form__label {
  font-size: 1.4rem;
  align-self: start;
}

.form__input {
  --border-focus: #dde3ec;
  font-size: 1.6rem;
  padding: 0.5rem;
  background-color: white;
  border: 1px solid var(--border-focus);
  border-radius: 5px;
}

.form__input:focus {
  --border-focus: #6a64f1;
  outline: none;
  box-shadow: 0 0 0 0.5px var(--border-focus);
}

.form__input.is-valid {
  --border-focus: green;
}

.form__input.is-invalid {
  --border-focus: red;
}

.form__submit-btn {
  grid-column: span 2;
  place-self: start;
}

.form__error {
  height: 4rem;
  font-size: 1.2rem;
  color: red;
}

.form__required-icon {
  color: red;
}

.form__valid-icon {
  display: none;
  position: absolute;
  top: 23%;
  right: -2rem;
  color: green;
}

.button {
  color: white;
  background-color: #6a64f1;
  font-size: 1.6rem;
  border-radius: 5px;
  padding: 1rem;
}

.card {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.card--hidden {
  display: none;
}

.card__title {
  font-weight: bold;
  color: white;
  text-shadow: 0 0 2px blue;
}

.card__content {
  text-shadow: 0 0 8px #6a64f1;
}
